.recipe {
    background-color: #fff;
    border-radius: var(--default-radius);
    box-shadow: 0 5px 16px rgba(0, 0, 0, .2);
    transition: var(--default-transition);
}

.recipe:hover {
    box-shadow: 0 5px 32px rgba(0, 0, 0, .35);
}

.recipe__thumb {
    border-radius: var(--default-radius);
    height: 65%;
    overflow: hidden;
}

.recipe__thumb img {
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
}

.recipe__body {
    flex-grow: 1;
    padding: .75rem;
}

.recipe__title {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: .1875rem;
}

.recipe__type {
    font-size: .9rem;
    opacity: .6;
}