.modal {
    background-color: #fff;
    border-radius: var(--default-radius);
    box-shadow: 0 0 12px rgba(0, 0, 0, .3);
    width: 480px;
    padding: 1.5rem;
    position: absolute;
}

.modal__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.modal__title {
    font-weight: 600;
}