@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

:root {
  --primary-color: #f9f5f2;
  --accent-color: #ff724c;
  --secondary-color: #2a2c41;
  --terciary-color: #fcc050;
  --neutral-color: #f4f3f8;

  --default-radius: 6px;
  --default-transition: all .2s ease;
  --radius-lg: 12px;
  --font-color: #060606;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--primary-color);
  color: var(--font-color);
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

ul {
  list-style: none;
  padding-left: 0;
}

button, 
.btn {
  background-color: #fff;
  border: 2px solid var(--accent-color);
  border-radius: var(--default-radius);
  color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  min-width: 120px;
  padding: .75rem 1.5rem;
  text-transform: uppercase;
  transition: var(--default-transition);
}

button:hover, 
.btn:hover {
  background-color: var(--accent-color);
  color: #fff;
}

.app__container {
  max-width: 1440px;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.logo {
  font-size: 2.2rem;
}

.actions {
  display: flex;
  justify-content: end;
  gap: 1.5rem;
}

.footer {
  margin-top: 3rem;
  font-size: .9rem;
  text-align: center;
}