.recipes__grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;
}

@media all and (min-width: 640px) {
    .recipes__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (min-width: 768px) {

}

@media all and (min-width: 1024px) {
    .recipes__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (min-width: 1280px) {
    .recipes__grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media all and (min-width: 1536px) {
    .recipes__grid {
        grid-template-columns: repeat(5, 1fr);
    }
}